* {
  box-sizing: border-box;
}

body{
  color: black;
  margin: 0;
}

h2{
  text-align: center;
  font-family: 'Advent Pro', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-size: 700%;
}

h3{
  text-align: center;
  font-family: 'Advent Pro', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-size: 200%;
  color: red;
  margin: 20px;
}

.signup-content{
  text-align: center;
  padding-top: 2.5%;

  font-family: 'Advent Pro', sans-serif;
  font-family: 'Raleway', sans-serif;
}

/* Glow Effect */

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/* Background Video */

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.main {
  position: fixed;

  color: #f1f1f1;
  width: 100%;
}